@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 5%;
    --foreground: 210 20% 98%;
    --card: 222 83% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 222 83% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 243 75% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 20% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 217 33% 50%;
    --accent: 262 75% 65%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 243 75% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 83% 5%;
    --foreground: 210 20% 98%;
    --card: 222 83% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 222 83% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 243 75% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 20% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 217 33% 50%;
    --accent: 262 75% 65%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 243 75% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
